.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  background-color: rgb(223, 166, 110);
  font:400 16px/18px Roboto, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

img{
border-radius: 100px;
}
h1{
color:mediumvioletred;
font-weight:600;
font-style: italic;

}
h2{
  color: cornflowerblue;
  font-style: italic;
}
p{
  font-style: oblique;
color:rgb(29, 10, 10);  
}
div{
  animation-name: couleur;
  animation-duration: 10s;
}
@keyframes couleur {
  from {
    background-color: rgb(223, 166, 110);
  }
  25%{
    background-color: blue;
    width: 75%
}
50%{
    background-color: purple;
    width: 50%
}
75%{
    background-color:hotpink;
    width: 75%;
}
  to {
    background-color:lightgreen;
  }
}
